# Copy this file to .env before running the project
# cp .env.example .env

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
MLFLOW_TRACKING_URI=http://mlflow:5000
AIRFLOW_UID=50000
AIRFLOW__WEBSERVER__SECRET_KEY=change-me-use-a-random-string
